
.explorer {
    //width: 100%;
    background-color: $lightgray;
    text-align: center;
    font-family: $text-font-family;
    padding: 50px;
    p {
        color: $lightblack;
        font-size: 1.4em;
        margin: 30px 0px 30px 0px;
    }
}