.menu {
    background-color: $gray;
    padding: 50px 20px 50px 20px;    
    border-radius: 40px 40px 0px 0px;
    position: relative;
    justify-content: center;
    @for $i from 1 through 10 {
        .submenu__menu:nth-child(#{$i}) {
            @include showUpdelayed($i);
        }
    } 
    h1 {
        font-family: $logo-font-family;
        font-size: 1.8rem;
        margin-bottom: 35px;
        flex: 1 2 auto;
    }
    h2 {
        @extend %mediumRegular;
        text-transform: uppercase;
        @include underline($clr-tertiary);
        margin-bottom: 25px;
    }
    .submenu__menu {
        position: relative;
        margin-bottom: 50px;
        width: 100%;
        @for $i from 1 through 10 {
            .btn:nth-child(#{$i}) {
                @include showUpMoredelayed($i);
            }
        }    
    }
}