$prev_height: 350px;

.restaurants {
    background-color: $lightgray;
    padding: $std-padding;
    h1 {
        font-family: $text-font-family;
        margin-bottom: 10px;
    }
    .prev__restaurants {
        width: 100%;
        height: $prev_height;
        overflow: hidden;
        border-radius: 20px;
        background-color: white;
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include shadow;
        position: relative;
        @include noStyleLink(black);
    }
    .img__restaurant {
        width: 100%;
        height: 75%;
        object-fit: cover;
    }
    .info__restaurant {
        font-family: $text-font-family;
        margin-left: 15px;
        h2 {
            font-size: 1.4em;
        }
        p {
            font-size: 1.4em;
            color: $lightblack;
            margin-top: 10px;
        }
        &--new {
            @include new($clr-tertiary, 72%, 5%);
        }
    }
    .btn-like {
        margin-right: 15px;
    }
}