button {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    font-family: $text-font-family;
    font-size: 1.3em;
    @include shadow;
    border-style: none;
    &__action {
        border-radius: 50px;
        color: white;
        @include linearGradient($clr-primary, $clr-secondary);
        padding: 20px 30px 20px 30px;
        
    }
    &__explainer {
        border-radius: 20px;
        margin-top: 30px; 
        font-weight: 700;
        padding: 30px 30px 30px 10px;
        width: 95%;
        text-align: start;
        i {
            padding-right: 25px;
            color: $darkgray;
        }
    }
    &__menu {
        border-radius: 10px;
        background-color: white;
        text-align: start;
        padding: 10px;
        width: 100%; 
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        h3 {
            font-size: 1.1em;
            font-weight: 700;
            width: 100%;
        }
        p {
            font-size: 0.9em;
            color: $darkgray;
        }
        .price__menu {
            font-weight: 700;
            font-size: 0.9em;
            align-self: flex-end;
        }
    }
}

.btn-like {
    @include inlineButton;
    font-size: 1.8em;
    width: 70px;
    position: relative;
    color: $darkgray;
    i {
        position: absolute;
        top: 5%;
        left: 25%;
    }
    &:not(:hover) .fas {
        display: none;
    }

}