
.geoloc {
    width: 100%;
    background-color: $gray;
    border: 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: center;
    i {
        margin-right: 10px;
    }
    &:hover {
        cursor: pointer;
    }
    .geosearch {
        color: $lightblack;
        @extend %smallBold;
        background: transparent;
        border-style: none;
        &:focus {
            outline: none;
        }
    }
}
