//Colors 
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$lightgray: #F6F6F6;
$gray: #EAEAEA;
$darkgray: #7e7e7e;
$lightblack: #353535;

//layout
$std-padding: 50px 25px 70px 25px;